@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic);
/**
 * Theme for C4Q 2014 Year in Review
 *
 */


/*********************************************
 * GLOBAL STYLES
 *********************************************/

.reveal {
  font-family: "Cardo", serif; 
  font-weight: 300;
  font-size: 1.4em;
  font-weight: normal; 
}
.container{
	width: 100%;
	height: 100%;
}
img.center{
	margin-left: auto;
	margin-right: auto;
}
.center{
	text-align: center;
}
hr.title{
	width: 5%;
	height: 6px;
	color:#000;
	background-color:#3CB54A;
	border: none;
	margin-bottom: 20px;
}
h4{
	text-transform: uppercase;
}
p.toptitle{
	font-family: 'Helvetica', serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .62em;
	letter-spacing: 2px;
}
p.subtitle{
	font-size: .6em;
}
div.funfact{
	border: 3px solid #3CB54A;
	padding: 20px;
	width: 75%;
	background-color: #ffffff;
	-webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
}
p.quotation{
	font-size: 1.2em;
}
.column2{
	width: 45%;
	float: left;
	margin-right: 45px !important;
}
	.column2:last-child:{
		margin-right: 0;
	}

.column3{
	width: 31.25%;
	float: left;
	margin-right: 20px !important;
}
	.column3:last-child,
	.column3two:last-child{
		margin-right: 0;
	}
	.column3two{
		width: 62.5%;
		float: left;
		margin-right: 20px !important;
	}

.button{
	font-family: 'Helvetica', serif !important; 
	background-color: #004799;
	color: #ffffff !important;
	padding: 15px 25px !important;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .62em !important;;
	letter-spacing: 2px;
}
\
/*********************************************
 * SPECIFIC SLIDES
 *********************************************/

#logoslide{
	text-align: center;
}
	#intrologo{
		margin: 35% 0;
	}
	#arrowdown{
		width: 40px;
		position: relative;
	    bottom: 100px;
	}

ul.plus{
	list-style: none;
	margin-left: 0;
    padding-left: 0;
}
	.plus li:before{
		content: "+  ";
	    padding-right: 5px;
	}
	.plus li>p{
		padding-left: 1.7em;
	}

#ourteam{

}
#qtmlogos img{
	max-width: 140px;
	max-height: 60px;
	padding: 12px;
}
#volunteercommittee p, 
#volunteercommittee h3{
}
	#volunteercommittee img{
		margin-bottom: 5px;
	}
	#volunteercommittee hr.title{
		background-color:#ffffff;
	}
	.committeehr{
		width: 10%;
		height: 1px;
		color:#000;
		background-color:#ffffff;
		border: none;
		margin-bottom: 10px;
	}

.graph-bar{
	height: 12px;
	display: table-cell;
}
	.bar-2013{
		width: 60px;
		display: inline-block;
		background-color: #6EC829;
	}
	.bar-2014{
		width: 250px;
		display: inline-block;
		background-color: #6EC829;
	}

#c4qtechbash p{
	color: #ffffff;
}
p.ourworktitle{
	font-family: 'Helvetica', serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .8em;
	letter-spacing: 2px;
}
div.ourworkoutline,
div.ourworksolid,
div.ourworkimage{
	/* -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75); */
}
div.ourworkoutline{
	border: 6px solid #ffffff;
	padding: 40px;
	width: 240px;
	float: left;

	margin: 30px;
}
div.ourworksolid{
	background-color: #ffffff;
	padding: 20px 20px 0 20px;
	width: 240px;
	float: left;

	margin: 20px;
}
div.ourworkimage{
	background-color: #ffffff;
	border: 6px solid #ffffff;
	float: left;
}
div.ourworkimage p{
	padding: 20px 40px;
}
div.ourworkimage>img{
}

/*********************************************
 * CHAPTER SLIDES
 *********************************************/
.chapterslide {
	color: #ffffff;
	position: relative;
}
	.chapterslide h2{
		font-size: 2em;
	}

/*********************************************
 * PROGRAM SLIDES
 *********************************************/
.programslide{
}
	.description{
		background-color: rgba(255,255,255,0.8) ;
		width: 640px;
		padding: 40px 60px!important;
		margin: 24% auto !important;
	}


/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #3CB54A;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

  img.imagetest{
  	height: 140px;
  }