@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic);
/**
 * Theme for C4Q 2014 Year in Review
 *
 */

/*********************************************
 * GLOBAL STYLES
 *********************************************/

.reveal {
  font-family: "Cardo", serif;
  font-weight: 300;
  font-size: 1.4em;
  font-weight: normal;
}
.container{
	width: 100%;
	height: 100%;
}
img.center{
	margin-left: auto;
	margin-right: auto;
}
.center{
	text-align: center;
}
hr.title{
	width: 5%;
	min-width: 25px;
	height: 6px;
	color:#000;
	background-color:#3CB54A;
	border: none;
	margin-bottom: 40px;
}
h4{
	text-transform: uppercase;
}
p.toptitle, .tooltip-wrapper .tooltip {
	font-family: 'Helvetica', serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .62em;
	letter-spacing: 2px;
}
p.subtitle{
	font-size: .6em;
}
div.funfact{
	border: 3px solid #3CB54A;
	padding: 20px;
	width: 100%;
	max-width: 600px;
	background-color: #ffffff;
	/*-webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);*/
}
p.quotation{
	font-size: 1.2em;
}
.column2{
	width: 45%;
	float: left;
	margin-right: 45px !important;
}
	.column2:last-child:{
		margin-right: 0;
	}

.column3{
	width: 31.25%;
	float: left;
	margin-right: 20px !important;
}
	.column3:last-child,
	.column3two:last-child{
		margin-right: 0;
	}
	.column3two{
		width: 62.5%;
		float: left;
		margin-right: 20px !important;
	}

.button{
	font-family: 'Helvetica', serif !important;
	background-color: #004799;
	color: #ffffff !important;
	padding: 15px 25px !important;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .62em !important;;
	letter-spacing: 2px;
}
\
/*********************************************
 * SPECIFIC SLIDES
 *********************************************/

#logoslide{
	text-align: center;
}
	#intrologo{
		margin: 35% 0;
		min-width: 300px;
	}
	#arrowdown{
		width: 40px;
		position: relative;
	    bottom: 100px;
	}
.column3 .columnblock{
	margin-bottom: 60px;
}

ul.plus{
	list-style: none;
	margin-left: 0;
    padding-left: 0;
}
	.plus li:before{
		content: "+  ";
	    padding-right: 5px;
	}
	.plus li>p{
		padding-left: 1.7em;
	}
ul#boardnews{
	padding-left: 1em;
}
.qtmsvg{
	width: 200px;
}
#qtmlogos{
	padding: 50px 20px 20px 20px;
}
#qtmlogos img{
	max-width: 110px;
	max-height: 60px;
	padding: 10px;
}
	#volunteercommittee img{
		margin-bottom: 5px;
	}
	.committeehr{
		width: 10%;
		height: 1px;
		color: black;
		background-color: black;
		border: none;
		margin-bottom: 10px;
	}
#volunteercommittee p{
	margin-bottom: 5px;
}
img.support_logo{
	margin: 20px;
}
.graph-bar{
	height: 30px;
	display: table-cell;
}
	.bar-2013{
		width: 60px;
		display: inline-block;
		background-color: #ffffff;
	}
	.bar-2014{
		width: 250px;
		display: inline-block;
		background-color: #6EC829;
	}
#c4qtechbash{
}
	#c4qtechbash p{
		color: #ffffff;
	}
	#techbashlogo{
		width: 320px;
		padding: 20px;
		float: left;
	}
	#bashslide2{
		margin-top: 60px;
	}
	#bashslide1{
		float: right;
		width: 80%;
	}
p.ourworktitle{
	font-family: 'Helvetica', serif;
	font-weight: bold;
	text-transform: uppercase;
	font-size: .8em;
	letter-spacing: 2px;
}
div.ourworkoutline{
	border: 6px solid #ffffff;
	padding: 40px 40px 20px 40px;
	max-width: 400px;
	color: #ffffff;
	float: left;
	margin: 20px;
}
div.ourworksolid{
	background-color: #ffffff;
	padding: 20px 20px 0 20px;
	width: auto;
	float: left;
}
#qtmdescription{
	background-color: #ffffff;
	padding: 60px 20px 0 20px;
	width: auto;
	height: 680px;
	float: left;
	width: 300px;
	background-color: #000000;
	color: #ffffff;
}
div.ourworkimage{
	background-color: #ffffff;
	border: 6px solid #ffffff;
	float: left;
	margin: 20px;
}
#qtmlogogrid{
	width: 600px;
	height: 680px;
	border-color: #000000;
	margin: 0px;
}
div.ourworkimage p{
	padding: 20px 30px;
}
div.ourworklogo{
	width: 280px;
}
#smithsonian .ourworkoutline,
#smithsonian .ourworkimage{

}
#summitpartners{
	width: 600px;
}
#summitpartners>img{
	max-width: 125px;
	max-height: 35px;
	float: left;
	vertical-align: middle;
	margin-right: 30px;
}
.queenstechcomp{

}
#policyslides img{
	max-width: 320px;
}
#polnad{
	float: right;
	margin-top: 150px;
}
#polnaddesc{
	margin-top: 45px;
}
#polnaddesc2{
	margin-top: 45px;
}
#polnadimg{
}
#c4qedu{
	margin-top: 40px;
	width: 240px;
}
#c4qedudesc{
	float: left;
}
#c4qeduimg{
	margin-top: 45px;
}
ul.futurelist{
	margin-left: 0;
	padding-left: 0;
	list-style-position: inside;
}
.futurelist li>p{
	padding-left: 120em;
}
/*ul.plus{
	list-style: none;
	margin-left: 0;
    padding-left: 0;
}
	.plus li:before{
		content: "+  ";
	    padding-right: 5px;
	}
	.plus li>p{
		padding-left: 1.7em;
	}*/
input{
	padding: 20px;
	font-size: 14px;
	background: rgba(255,255,255,.2);
	border: 1px solid rgba(255,255,255,.23);
	color: #000000;
}
input:focus{
	outline-color: transparent;
  	outline-style: none;
	background: rgba(255,255,255,.5);
}
::-webkit-input-placeholder {
   color: #ffffff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;
}

:-ms-input-placeholder {
   color: #ffffff;
}
#mce-responses{
	margin: 20px 0;
}
/*********************************************
 * Access Code 2.0 Animation
 *********************************************/
.box {
      display: inline-block;
      width: 100px;
      height: 100px;
      background: steelblue;
      opacity: 0;
}
/*********************************************
 * CHAPTER SLIDES
 *********************************************/
.chapterslide {
	color: #ffffff;
	position: relative;
}
	.chapterslide h2{
		font-size: 2em;
		margin-top: 320px;
	}

/*********************************************
 * PROGRAM SLIDES
 *********************************************/
.programslide{
}
	.description{
		background-color: rgba(255,255,255,0.8) ;
		width: 640px;
		padding: 40px 60px!important;
		margin: 24% auto !important;
	}


/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #3CB54A;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }


  .ui-tooltip {
    padding: 10px 20px;
    color: #fff;
    text-align: center;
    background-color: #000000;
   	position: absolute;
	z-index: 9999;
	max-width: 160px;
  }

/*********************************************
 * VERTICAL NAV                              *
 *********************************************/
.nav-wrapper {
  overflow: hidden;
  width: 32px;
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-panel::-webkit-scrollbar {
  display: none;
}
.nav-panel {
  overflow-y: auto;
  width: 60px;
  z-index: 30;
  display: block;
  max-height: 100%;
  padding: 10px 0;
  /* background-color: rgba(0,0,0,.2); */
  color: #F9F9F9; /*subtle white*/
  margin-left: -13px;
}
.nav-panel ul {
  padding: 0;
  height: 100%;
  margin: 0;
  list-style-type: none;
}
.nav-panel li {
  cursor: pointer;
  padding: 8px 10px;
  position: relative;
}
.tooltip-wrapper, .vis-tooltip {
  overflow: visible;
  position: absolute;
}
.tooltip-wrapper .left-arrow, .vis-tooltip .left-arrow {
  z-index: 999;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right:6px solid #3CB54A;
  position: absolute;
  left: 26px;
  top: 5px;
  opacity: 0;
  transition: opacity 0.2s;
}
.tooltip-wrapper .tooltip, .vis-tooltip .tooltip {
  z-index: 999;
  opacity: 0;
  background-color: #3CB54A;
  padding: 5px;
  position: absolute;
  min-width: 200px;
  text-align: center;
  left: 32px;
  top: -3px;
  transition: opacity 0.2s;
  color: #F9F9F9; /*subtle white*/
}
.vis-tooltip .tooltip {
  transition-property: none;
  font-size: 80%;
}
.vis-tooltip .left-arrow { transition-property: none; }
.tooltip-wrapper:hover .tooltip {
  transition: opacity 0.5s;
}
.tooltip-wrapper:hover .left-arrow {
  transition: opacity 0.5s;
}
.vis-tooltip.one, .vis-tooltip.four {
  top: 13em;
  right: 17em;
}
.vis-tooltip.one .left-arrow, .vis-tooltip.four .left-arrow {
  top: 9px;
  left: 26px;
}
.vis-tooltip.two {
  bottom: 11em;
  left: 11em;
}
.vis-tooltip.two .left-arrow {
  top: -8px;
  left: 200px;
  border-top: 6px solid #3cb54a;
  border-bottom: 6px solid transparent;
  border-right: 6px solid transparent;
  border-left: 6px solid #3cb54a;
  transform: rotate(45deg);
}
.vis-tooltip.three {
  bottom: 17em;
  left: 5em;
}
.vis-tooltip.three .left-arrow {
  top: 9px;
  left: 242px;
  border-right: none;
  border-left: 6px solid #3cb54a;
}
.nav-panel .circle {
  position: relative;
  overflow: hidden;
  width: 6px;
  height: 6px;
  margin: 0 auto;
  background-color: #B8B8B8;
  border-radius: 50%;
  transition: border-color, transform 0.3s;
  will-change: border-color, transform;
}
.nav-panel li:hover .circle, .nav-panel .active .circle {
  background-color:#3CB54A;
  background-color:#3CB54A;
  transform: scale(2);
}

/*********************************************
 * MEDIA QUERY
 *********************************************/
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
	.nav-panel{
		visibility: hidden;
	}
	#intrologo{
		width: 75%;
	}
	#arrowdown{
		width: 80px;
		position: relative;
	    bottom: -100px;
	}
	.reveal h1 { font-size: 3.77em; }
	.reveal h2 { font-size: 4em;	}
	.reveal h3 { font-size: 1.55em;	}
	.reveal h4 { font-size: 1em;	}
	.reveal p  { font-size: 2em;    }
}

/*********************************************
 * Pie chart vis for access code 2.0.
 *********************************************/
#pie-chart {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
.access-cohort p, .access-cohort ul { opacity: 0; }
